.screen{
    position: relative;

}

.screen .readyButton{

    position: absolute;
    top: 85px;
    left: calc(50% - 30px);


    cursor: pointer;
}


.screen .word{
    position: absolute;
    color: #000;
    font-size: 16px;

    left: 50px;
}

#countDown{
    background-color: #f6f5f5;
    border-radius: 15px;

    padding-top: 5px;
    text-align: center;
    display: inline-block;

    width: 200px;
    height: 25px;

    position: absolute;
    top: 50px;
    left: calc(50% - 100px);

}

.participants{
    position: absolute;

    left: calc(50% - 50px);
    top: 5px;

    text-align: center;
    font-size: 16px;
}
#readyState{
    position: absolute;
    top: 25px;
    left: calc(50% - 50px);

    text-align: center;
    font-size: 16px;
}

ul.participantList{
    position: absolute;

    left: calc(50% - 125px);
    top: 150px;

    list-style: none;

    width: 250px;
    height: 100px;

    border: 1px dashed #e3e3e3;

}

ul.participantList li{

}


#gameArea {
    background-color: #000;
}
